:root{
    font-size: 62.5%;
    --primary-color: #000;
    --primary-color2: #FFFFFF;
    --primary-color3: #FA0369;
    --primary-color4: #7E8597;
    --primary-color5: rgba(26, 26, 26, 0.56);
    --primary-color6: #202631;
    --primary-color7: #141A25;
    --primary-color8: #F9F9FB;
    --primary-color9: rgba(255, 255, 255, 0.1);
    --primary-color10: #1A1A1A;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

header{
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 1.4rem;
    padding-right: 2.4rem;
    max-width: 1146px;
}

body{
    margin: 0px;
    background-color: var(--primary-color6);
}

h2{
    margin: 0%;
    font-size: 3.2rem;
    line-height: 1.3;
    color: var(--primary-color2);
}

h3{
    font-size: 2.4rem;
    line-height: 1.3;
    color: var(--primary-color2)
}

footer{
    background-color: var(--primary-color8);
    padding-top: 38px;
    padding-bottom: 35px;
}

.footer_1{
    display: flex;
    margin: 0 2.4rem;
    max-width: 1128px;
    min-width: 327px;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 14.4rem;
    align-items: center;
}

p{
    margin: 0%;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0%;
    padding: 0;
}

a{
    font-size: 1.4rem;
    text-decoration: none;
    color:var(--primary-color2);
}

.a_1{
    font-size: 1.4rem;
    text-decoration: none;
    color:var(--primary-color2);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.logotip{
    object-fit: fill;
}

.prim1{
    color: var(--primary-color);
    background-color: var(--primary-color2);
    padding-top: 81px;
    padding-bottom: 80px;
}

.prim2{
    font-size: 3.2rem;
    color: var(--primary-color2);
    text-align: center;
    line-height: 1.301875;
    margin: 0 auto;
    width: 327px;
}

.prim3{
    font-size: 1.2rem;
    color: var(--primary-color2);
}

.prim4{
    line-height: 1.3rem;
    font-size: 1.6rem;
    color: var(--primary-color3);
    text-align: center;
}

.prim5{
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--primary-color4);
    line-height: 1.3;
    text-align: center;
    margin-top: 0.5rem;
}

.prim6{
    font-size: 1.4rem;
    line-height: 1.286;
    color: var(--primary-color2);
    text-align: center;
    background-color: var(--primary-color3);
    border-radius: 6.3rem;
    padding: 0.5rem 1.4rem;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.prim7{
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 400;
    color: var(--primary-color4);
    text-align: center;
    margin-top: 1.2rem;
}

.prim8{
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--primary-color4);
    width: 32.4rem;
    margin-left: 2.4rem;
    margin-top: 3rem;
    margin-bottom: 2.6rem;
}

.prim8_1{
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--primary-color4);
    width: 32.4rem;
    margin-left: 2.4rem;
    margin-top: 3rem;
    margin-bottom: 2.6rem;
}

.prim8_2{
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--primary-color4);
    width: 32.4rem;
    margin-left: 2.4rem;
    margin-top: 3rem;
    margin-bottom: 2.6rem;
}

.prim9{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.27;
    margin-top: 1.6rem;
    color: var(--primary-color2);
}

.prim10{
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 400;
    color: var(--primary-color2);
    margin-bottom: 4rem;
    margin-left: 2rem;
    width: 27.6rem;
}

.prim10_1{
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 400;
    color: var(--primary-color2);
    margin-bottom: 4rem;
    margin-left: 2rem;
    width: 27.6rem;
}


.prim11{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 180%;
    color: var(--primary-color5);
    min-width: 11.1rem;
    padding-bottom: 0.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5rem;
}

.ul11{
    display: block;
    min-width: 111px;
    width: max-content;
}

.prim12{
    color: var(--primary-color2);
    margin-bottom: 3.8rem;
    margin-left: 2rem;
}

.prim13{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3rem;
}

.prim14{
    display: block;
    
    margin-top: -2.694rem;
    height: 380.14px;
}

.prim14_r{
    display: flex;
    margin: 0 auto;
    margin-top: 6.694rem;
    margin-bottom: 6.706rem;
    width: 327px;
    height: 327px;
    background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
    border-radius: 14.0143px;
}

.prim14_1{
    display: block;
    margin-top: -2.227rem;
    height: 355.72px;
}

.prim14_1_2{
    display: block;
    margin-top: -2.227rem;
    margin-left: 4.981rem;
    z-index: 3;
    width: 201.86px;
    height: 349.33px;
}

.prim14_1_r{
    display: flex;
    margin: 0 auto;
    margin-top: 6.227rem;
    margin-bottom: 5.314rem;
    width: 327px;
    height: 310.59px;
    background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
    border-radius: 14.0645px;
}

.prim14_1_r2{
    display: flex;
    margin: 0 auto;
    margin-top: 6.227rem;
    margin-bottom: 5.314rem;
    width: 327px;
    height: 310.59px;
    background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
    border-radius: 50%;
}

.prim14_2{
    display: block;
    margin: 0;
}

.prim14_3{
    display: block;
    margin: 0 auto;
}

.prim14_4{
    display: block;
    margin-top: -2.997rem;
    margin-left: 3.78rem;
    height: 386.19px;
    z-index: 3;
}

.prim14_4_r{
    display: flex;
    margin: 0 auto;
    margin-top: 7.997rem;
    margin-bottom: 6.003rem;
    width: 327px;
    height: 327px;
    background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
    border-radius: 14.0645px;
}

.shadow1{
    position: absolute;
    z-index: 2;
    width: 236.07px;
    height: 386.91px;
    transform: rotate(2deg);
    margin-top: -2.795rem;
    margin-bottom: -2.72rem;
    margin-left: 4.3rem;
}

.shadow2{
    position: absolute;
    z-index: 1;
    width: 226.39px;
    height: 360.95px;
    transform: rotate(4deg);
    margin-top: -1.735rem;
    margin-bottom: -1.66rem;
    margin-left: 6.29rem;
}

.shadow3{
    position: absolute;
    z-index: 2;
    width: 213.41px;
    height: 337.6px;
    transform: rotate(2deg);
    margin-top: -1.5rem;
    margin-bottom: -1rem;
    margin-left: 5.438rem;
}

.shadow4{
    position: absolute;
    z-index: 1;
    width: 204.68px;
    height: 326.5px;
    transform: rotate(4deg);
    margin-top: -0.379rem;
    margin-bottom: -1.66rem;
    margin-left: 7.251rem;
}

.prim15{
    text-align: center;
    background-color: var(--primary-color3);
    padding: 1.6rem 4.8rem;
    border-radius: 10rem;
    margin: 0 auto;
    width: 32.7rem;
}

.prim15_1{
    display: flex;
    column-gap: 1rem;
    text-align: center;
    background-color: var(--primary-color3);
    padding: 1.6rem 3.3rem;
    border-radius: 10rem;
    margin: 0 auto;
    width: 28.8rem;
}



.prim15_2{
    text-align: center;
    background-color: var(--primary-color3);
    padding: 1.6rem 4.8rem;
    border-radius: 10rem;
    margin: 0 auto;
    width: 32.7rem;
}

.prim15_3{
    text-align: center;
    background-color: var(--primary-color3);
    padding: 1.6rem 4.8rem;
    border-radius: 10rem;
    margin: 0 auto;
    width: 32.7rem;
}

.prim16{
    display: block;
    justify-content: center;
    align-items: center;
    width: 113px;
    background: var(--primary-color9);
    border-radius: 6.25em;
    padding: 0.625em 1.5em;
    margin-top: 1.8rem;
}

.prim17{
    width: 6.5rem;
    height: 18px;
    text-align: center;
    margin: 0 auto;
    }

.prim18{
    width: 14.4rem;
    margin-top: 1.3rem;
}

.prim19{
    display: block;
    margin: 0 auto;
    padding-bottom: 4rem;
    padding-top: 4rem;
    
}

.prim20{
    width: 260px;
    color: var(--primary-color10);
    margin-left: 2.5rem;

}

.prim21{
    min-height: 70.5rem;
    color: var(--primary-color);
    background-color: var(--primary-color2);
    padding-top: 8rem;
    padding-bottom: 10rem;
}

.prim22{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.prim23{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.prim24{
    display: flex;
    width: 32.776rem;
    padding-top: 5.6rem;
    padding-bottom: 5.3rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2.4rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color7);
}

.prim25{
    margin-bottom: 4.2rem;
}

.prim26{
    text-align: center;
    margin-bottom: 38px;
}

.prim27{
    margin-left: 2.4rem;
}

.prim27_1{
    margin-left: 2.4rem;
}

.prim28{
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--primary-color4);
    width: 32.4rem;
    margin-left: 2.4rem;
    margin-bottom: 3rem;
}


.prim29{
    display: flex;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1rem;
}

.prim30{
    padding-bottom: 10.8rem;
    padding-top: 4rem;
}

.prim31{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1.6rem;
    justify-content: center;
    
}

.prim32{
    display: flex;
    gap: 3.2rem;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.prim33{
    width: 32.8rem;
    padding-top: 6.4rem;
    padding-bottom: 7.9rem;
    background-color: var(--primary-color7);
    margin: 0 auto;
    border-radius: 2.4rem;
}

.prim33_1{
    display: block;
}

.prim34{
    display: block;
    margin: 0 auto;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.prim35{
    display: block;
    margin: 0 auto;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.prim36{
    margin-left: auto;
    margin-right: auto;
    width: 32.8rem;
}

.prim37{
    margin-left: auto;
    margin-right: auto;
    width: 32.8rem;
}

.prim38{
    margin-left: auto;
    margin-right: auto;
    width: 32.8rem;
}

.prim39{
    display: flex;
    flex-direction: column;
    width: 16.5rem;
}

.prim40{
    display: flex;
    flex-direction: column;
    width: 15.2rem;
}

.prim41{
    display: block;
    margin: 0 auto;
    width: 32.4rem;
}

.facebook{
    width: 20px;
}

.insta{
    width: 20px;
}

.github{
    width: 20px;
}

.twitter{
    width: 20px;
}

.iphone{
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (min-width: 600px) {
    .prim18{
        width: 23rem;
    }
    .logo4{
        width: max-content;
        height: auto;
    }
}

@media (min-width: 1145px) {
    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0;
    }
    /* секция 1 сребёнком */
    .prim19{
        display: flex;
        max-width: 1145px;
        height: 807px;
        padding-bottom: 15.1rem;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        
    }
    .prim15{
        display: inline;
        padding: 1.6rem 4.8rem;
        border-radius: 10rem;
        margin-top: 4.8rem;
        margin-left: 0;
        width: 327px;
    }
    .prim14{
        margin: 0 auto;
        margin-top: -3rem;
        width: max-content;
        height: max-content;
        margin-bottom: -6.1rem;
    }
    .prim14_r{
        display: flex;
        align-items: center;
        margin: 0 auto;
        order: 5;
        width: 560px;
        height: 560px;
        border-radius: 2.4rem;
    }
    .prim2{
        margin:0 auto;
        margin-top: 9.1rem;
        font-size: 4.8rem;
        line-height: 1.302083;
        height: 248px;
        text-align: left;
        width: 52.3rem;
        margin-left: 0;
    }
    .prim5{
        margin-top: 1rem;
        text-align: left;
        margin-left: 3.15rem;
        
    }
    .prim31{
        gap: 5rem;
    }
    /* секция 3 с steps */
    .prim35{
        padding-top: 9rem;
        padding-bottom: 9rem;
    }
    .prim23{
        margin-top: 1.8rem;
        margin-bottom: 5.9rem;
        font-size: 4.2rem;
    }
    .prim13{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3rem;
        max-width: 1146px;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .prim24{
        width: 26.4rem;
        margin-top: 0;
    }
    .prim7{
        margin-left: 3.2rem;
        margin-right: 3.2rem;
    }
    /* секция 4 с девущкой */
    .prim30{
        padding-top: 9rem;
        padding-bottom: 9rem;
        max-width: 1145px;
        margin: 0 auto;
    }
    /* секция 5 why us */
    .prim26{
        font-size: 4.8rem;
    }
    .prim36{
        display: flex;
        margin: 0 auto;
        margin-top: 13.8rem;
        margin-bottom: 9rem;
        width: 1146px;
        height: 528px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        column-gap: 12.8rem;
    }
    .prim14_1{
        margin: 0 auto;
        margin-top: -7.694rem;
        width: max-content;
        height: max-content;
        margin-bottom: -6.1rem;
    }
    .prim14_1_r{
        margin: 0 auto;
        width: 558px;
        height: 530px;
        border-radius: 24px;
    }
    .prim27{
        margin: 0;
        margin-top: 6.9rem;
        font-size: 3.6rem;
    }
    .prim8{
        margin: 0;
        margin-top: 1.6rem;
        font-size: 2.1rem;
        line-height: 150%;
        width: 460px;
    }
    .prim15_2{
        margin: 0;
        margin-top: 4.8rem;
    }
    .prim37{
        display: flex;
        margin: 0 auto;
        padding-top: 9rem;
        padding-bottom: 9rem;
        width: 1146px;
        height: 840px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .prim14_4{
        margin: 0 auto;
        margin-top: -5.114rem;
        margin-left: 6.45rem;
        width: max-content;
        height: max-content;
    }
    .prim14_4_r{
        margin: 0 auto;
        margin-top: 5.114rem;
        margin-bottom: 4.986rem;
        width: 558px;
        height: 558px;
        border-radius: 24px;
        order: 5;
    }
    .shadow1{
        position: absolute;
        z-index: 2;
        width: 402.84px;
        height: 652.1px;
        transform: rotate(0.2deg);
        margin-top: -4.77rem;
        margin-bottom: -4.641rem;
        margin-left: 10.5rem;
    }
    
    .shadow2{
        position: absolute;
        z-index: 1;
        width: 386.32px;
        height: 615.94px;
        transform: rotate(2deg);
        margin-top: -2.961rem;
        margin-bottom: -2.832rem;
        margin-left: 13.7rem;
    }
    .prim27_1{
        margin: 0;
        margin-top: 14.525rem;
        font-size: 3.6rem;
    }
    .prim8_1{
        margin: 0;
        margin-top: 1.6rem;
        font-size: 2.1rem;
        line-height: 150%;
        width: 460px;
        margin-bottom: 4.05rem;
    }
    .prim9{
        font-size: 2rem;
    }
    .prim29{
        column-gap: 9rem;
        margin-bottom: 0;
    }
    .prim39{
        width: 18.5rem;
        height: 9rem;
    }
    .prim40{
        width: 185px;
        height: 90px;
    }
    .prim15_3{
        margin: 0;
        margin-top: 4.8rem;
        margin-bottom: 14.525rem;
    }
    .prim38{
        display: flex;
        margin: 0 auto;
        margin-top: 13.8rem;
        margin-bottom: 9rem;
        width: 1146px;
        height: 528px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        column-gap: 12.8rem;
    }
    .prim14_1_2{
        margin: 0 auto;
        margin-top: -2.3rem;
        margin-bottom: -1.51rem;
        margin-left: 8.5rem;
        width: 344.46px;
        height: 596.1px;
    }
    .prim14_1_r2{
        margin: 0 auto;
        margin-top: 2.3rem;
        margin-bottom: 2.2rem;
        width: 558px;
        height: 550px;
    }
    .shadow3{
        position: absolute;
        z-index: 2;
        width: 364.16px;
        height: 550.76px;
        transform: rotate(0.2deg);
        margin-top: -0.97rem;
        margin-bottom: -1rem;
        margin-left: 9.5rem;
    }
    
    .shadow4{
        position: absolute;
        z-index: 1;
        width: 349.27px;
        height: 531.82px;
        transform: rotate(4deg);
        margin-top: -0.647rem;
        margin-left: 12.373rem;
    }
    /* секция 6 с айфоном */
    .prim21{
        margin: 0 auto;
        padding-top: 18rem;
        padding-bottom: 9.1rem;
    }
    .prim33{
        display: flex;
        width: 1146px;
        height: 496px; 
        padding: 5.9rem 10.8rem 6.2rem 13rem;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .iphone{
        display: block;
        width: max-content;
        height: auto;
        margin-top: -14.9rem;
    }
    .prim12{
        margin: 0;
        font-size: 4.2rem;
    }
    .prim10{
        margin: 0;
        margin-top: 2.4rem;
        margin-bottom: 4rem;
        font-size: 1.8rem;
        width: 36.3rem;
    }
    .prim10_1{
        margin: 0;
        font-size: 1.8rem;
        width: 36.3rem;
    }
    .prim15_1{
        margin-top: 4rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        justify-content: center;
        width: 36.3rem;
    }
    .a_1{
        font-size: 1.8rem;
    }
    .prim33_1{
        display: block;
        height: 37.5rem;
        width: 36.3rem;
    }
    /* секция 7 белая */
    .prim1{
        padding: 12rem auto;
    }
    .prim14_3{
        order: 3;
        margin: 0 auto;
        width: max-content;
        height: auto;
    }
    .prim41{
        display: flex;
        width: 1145px;
        height: 527.87px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
    }
    .prim20{
        margin: 0;
        margin-top: 14.394rem;
        font-size: 4.2rem;
        width: max-content;
    }
    .prim8_2{
        margin: 0;
        margin-top: 1.6rem;
        font-size: 2.1rem;
        line-height: 150%;
        width: 460px;
        margin-bottom: 14rem;
    }
    /* футер */
    footer{
        padding-top: 4.8rem;
        padding-bottom: 4.7rem;
        margin: 0 auto;
        align-items: center;
    }
    .footer_1{
        display: flex;
        margin: 0 auto;
        max-width: 1128px;
        flex-direction: row;
        justify-content: space-between;
    }
    .prim11{
        display: flex;
        flex-direction: row;
        width: max-content;
        gap: 0.5rem;
    }
    .prim32{
        display: flex;
        flex-direction: row;
        column-gap: 3.2rem;
    }
}

/* .prim14_4_h1{
    display: block;
    width: 213.9px;
    height: 369.78px;
    background: #141A25;
    box-shadow: 0px 2.34409px 8.2043px rgba(0, 0, 0, 0.1);
    border-radius: 9.37634px;
    transform: rotate(3.5deg);
} */
