:root{
    font-size: 62.5%;
    --primary-color: #000;
    --primary-color2: #FFFFFF;
    --primary-color3: #FA0369;
    --primary-color4: #7E8597;
    --primary-color5: rgba(26, 26, 26, 0.56);
    --primary-color6: #202631;
    --primary-color7: #141A25;
    --primary-color8: #F9F9FB;
    --primary-color9: rgba(255, 255, 255, 0.1);
    --primary-color10: #1A1A1A;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

header{
    padding-bottom: 40px;
}

body{
    margin: 0px;
    background-color: var(--primary-color6);
}

h2{
    margin: 0%;
    font-size: 3.2rem;
    line-height: 1.3;
    color: var(--primary-color2);
    /* text-align: center; */
}

h3{
    font-size: 2.4rem;
    line-height: 1.3;
    color: var(--primary-color2)
}

footer{
    background-color: var(--primary-color8);
    width: 375px;
    padding-top: 38px;
    padding-bottom: 35px;
}

p{
    margin: 0%;
}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0;
}

a{
    font-size: 1.4rem;
    text-decoration: none;
    color:var(--primary-color2);
}

/* img {
    max-width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    border: none;
} */

.prim1{
    width: 375px;
    color: var(--primary-color);
    background-color: var(--primary-color2);
    padding-top: 81px;
}

.prim2{
    font-size: 3.2rem;
    color: var(--primary-color2);
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
}

.prim3{
    font-size: 1.2rem;
    color: var(--primary-color2);
}

.prim4{
    line-height: 1.3rem;
    font-size: 1.6rem;
    color: var(--primary-color3);
    text-align: center;
}

.prim5{
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--primary-color4);
    line-height: 1.3;
    text-align: center;
    padding-top: 5px;
}

.prim6{
    font-size: 1.4rem;
    line-height: 1.286;
    color: var(--primary-color2);
    text-align: center;
    background-color: var(--primary-color3);
    border-radius: 63px;
    padding: 5px 14px;
    margin-left: 152px;
    margin-right: 151px;
}

.prim7{
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 400;
    color: var(--primary-color4);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 53px;
}

.prim8{
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--primary-color4);
    width: 324px;
    margin-left: 24px;
    padding-top: 15px;
    padding-bottom: 26px;
}

.prim9{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.27;
    color: var(--primary-color2);
    padding-top: 1px;
}

.prim10{
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 400;
    color: var(--primary-color);
    padding-bottom: 40px;
    margin-left: 45px;
    width: 276px;
}

.prim11{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 180%;
    color: var(--primary-color5);
    width: 111px;
    padding-bottom: 3px;
    margin-left: 24px;
}

.prim12{
    color: var(--primary-color);
    padding-bottom: 15px;
    margin-left: 45px;
}



.prim13{
    text-align: center;
}

.prim14{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 30px;
}

.prim15{
    text-align: center;
    background-color: var(--primary-color3);
    padding: 16px 48px;
    border-radius: 100px;
    margin-left: 24px;
    margin-right: 24px;
    width: 327px;
}

.prim16{
    display: block;
    justify-content: center;
    align-items: center;
    width: 113px;
    background: var(--primary-color9);
    border-radius: 6.25em;
    padding: 0.625em 1.5em;
}

.prim17{
    width: 65px;
    height: 18px;
    
    }

.prim18{
    width: 144px;
}

.prim19{
    padding-bottom: 40px;
    padding-top: 40px;
}

.prim20{
    width: 260px;
    color: var(--primary-color10);
    margin-left: 25px;

}

.prim21{
    height: 705px;
    color: var(--primary-color);
    background-color: var(--primary-color2);
    padding-top: 144px;
    padding-bottom: 162px;
}

.prim22{
    padding-top: 40px;
    padding-bottom: 40px;
}

.prim23{
    padding-top: 20px;
    padding-bottom: 25px;
    text-align: center;
}

.prim24{
    padding-top: 15px;
    padding-bottom: 15px;
}

.prim25{
    padding-top: 56px;
    padding-bottom: 42px;
    margin-left: 157px;
    margin-right: 158.41px;
}

.prim26{
    text-align: center;
    padding-bottom: 38px;
}

.prim27{
    padding-bottom: 15px;
    margin-left: 24px;
}

.prim28{
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--primary-color4);
    width: 324px;
    margin-left: 24px;
    padding-bottom: 30px;
}

.prim29{
    padding-bottom: 40px;
}

.prim30{
    padding-bottom: 108px;
}

.facebook{
    width: 20px;
}

.insta{
    width: 20px;
}

.github{
    width: 20px;
}

.twitter{
    width: 20px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}